In [9]:
from sqlalchemy import func, desc
from database import SessionLocal
from table_user import User

In [16]:
lst = (
    SessionLocal().
    query(User.country, User.os, func.count()).
    filter(User.exp_group == 3).
    group_by(User.country, User.os).
    order_by(desc(func.count())).
    having(func.count() > 100).
    all()
)

In [17]:
[u for u in lst]

[('Russia', 'Android', 18678),
 ('Russia', 'iOS', 10033),
 ('Ukraine', 'Android', 1078),
 ('Ukraine', 'iOS', 599),
 ('Belarus', 'Android', 425),
 ('Kazakhstan', 'Android', 412),
 ('Kazakhstan', 'iOS', 238),
 ('Belarus', 'iOS', 216),
 ('Finland', 'Android', 211),
 ('Turkey', 'Android', 208),
 ('Azerbaijan', 'Android', 206),
 ('Turkey', 'iOS', 125),
 ('Azerbaijan', 'iOS', 102)]

In [ ]:
from database import engine
import pandas as pd

In [ ]:
liked_posts = pd.read_sql(
    """
    SELECT DISTINCT post_id, user_id
    FROM public.feed_data 
    WHERE action='like';
    """,
    con = engine
)

         post_id  user_id
0              1      218
1              1      258
2              1      465
3              1      670
4              1      703
...          ...      ...
8136615     7319   167160
8136616     7319   167172
8136617     7319   168402
8136618     7319   168446
8136619     7319   168509

[8136620 rows x 2 columns]