# Model

In [26]:
import pandas as pd
from database import engine

from IPython.display import HTML

## Loading data

In [15]:
user_data = pd.read_sql(
    "SELECT * FROM public.user_data LIMIT 1000;", 
    con = engine,
    index_col = "user_id"
)
post_data = pd.read_sql(
    "SELECT * FROM public.post_text_df LIMIT 1000;",
    con = engine,
    index_col = "post_id"
)
feed_data = pd.read_sql(
    "SELECT * FROM public.feed_data limit 1000;",
    con = engine
)

In [42]:
display(HTML("<h3>Users data</h3>"))
display(user_data.head())
display(HTML("<h3>Post data</h3>"))
display(post_data.head())
display(HTML("<h3>Feed data</h3>"))
display(feed_data.head())

         gender  age country               city  exp_group       os source
user_id
200           1   34  Russia          Degtyarsk          3  Android    ads
201           0   37  Russia             Abakan          0  Android    ads
202           1   17  Russia           Smolensk          4  Android    ads
203           0   18  Russia             Moscow          1      iOS    ads
204           0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

                                                      text     topic
post_id
1        UK economy facing major risks\n\nThe UK manufa...  business
2        Aids and climate top Davos agenda\n\nClimate c...  business
3        Asian quake hits European shares\n\nShares in ...  business
4        India power shares jump on debut\n\nShares in ...  business
5        Lacroix label bought by US firm\n\nLuxury good...  business

            timestamp  user_id  post_id action  target
0 2021-10-20 11:55:32    42498     3747   view       0
1 2021-10-20 11:57:30    42498     5369   view       0
2 2021-10-21 07:12:47    42498     1851   view       1
3 2021-10-21 07:13:11    42498     1851   like       0
4 2021-10-21 07:13:13    42498      349   view       0

## EDA

Actions types.

In [48]:
pd.Series(
    feed_data["action"].value_counts(),
    name = "number"
).to_frame()

      number
view     903
like      97

In [74]:
view_like_combs= feed_data.groupby(["user_id", "post_id"])["action"].apply(
    lambda actions: pd.Series({
        "like" : (actions == "like").any(),
        "view" : (actions == "view").any()
    })
).unstack()
pd.crosstab(
    view_like_combs["like"],
    view_like_combs["view"]
)

view   True
like
False   800
True     97